infra-as-code/terraform/sample-aws/.terraform.lock.hcl
infra-as-code/terraform/sample-aws/.terraform/
infra-as-code/terraform/sample-aws/kubeconfig_gambia
infra-as-code/terraform/sample-aws/remote-state/.terraform.lock.hcl
infra-as-code/terraform/sample-aws/remote-state/.terraform/